.u-font-size-0p75 {
	font-size: 0.75em !important;
}

.u-font-size-1 {
	font-size: 1em !important;
}

.u-font-size-1p25 {
	font-size: 1.25em !important;
}

.u-font-size-1p5 {
	font-size: 1.5em !important;
}

.u-font-size-1p75 {
	font-size: 1.75em !important;
}

.u-font-size-2 {
	font-size: 2em !important;
}

.u-font-size-0 {
	font-size: 0;
}