.u-font-light {
    font-family: Din Pro;
    font-weight: 300;
}

.u-font-medium {
    font-family: Din Pro;
    font-weight: 500;
}

.u-font-black {
    font-family: Din Pro;
    font-weight: 900;
}