.u-h1 {
	font-size: 24px;
	font-weight: 700;
	color: $color-text;
	line-height: 1.1;

	@media (min-width: $lg) {
		font-size: 32px;
	}

	@media (min-width: $xl) {
		font-size: 40px;
	}
}

.u-h2 {
	@extend %heading;
	font-size: $h2-font-size !important;
}

.u-h3 {
	@extend %heading;
	font-size: $h3-font-size !important;
}

.u-h4 {
	@extend %heading;
	font-size: $h4-font-size !important;
}

.u-h5 {
	@extend %heading;
	font-size: $h5-font-size !important;
}

.u-h6 {
	@extend %heading;
	font-size: $h6-font-size !important;
}