.banners {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    
    &__item {
        width: 50%;
        padding: 0 6px;
        margin-bottom: 15px;
        
        @media (min-width: $md) {
            width: 25%;
        }
        
        & img {
            width: 100%;
            object-fit: cover;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
    }
}