.main-bg {
    background-image: url(/img/main-bg.jpg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 90%;
    background-size: cover;
    width: 100%;
    height: 60vh;

    @media (orientation: landscape) and (min-width: $xl) {
        height: calc(100vh - 265px);
    }
}